<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- tts 사용 -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ummsungpay"
        tools:targetApi="31">
        <activity
            android:name=".BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".CardDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".CardListActivity"
            android:exported="false" />
        <activity
            android:name=".CardManageActivity"
            android:exported="false" />
        <activity
            android:name=".CardPayActivity"
            android:exported="false"
            android:label="@string/title_activity_card_pay"
            android:theme="@style/Theme.Ummsungpay" />
        <activity
            android:name=".MypageActivity"
            android:exported="false"
            android:label="@string/title_activity_mypage"
            android:theme="@style/Theme.Ummsungpay" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CardRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".CardScanActivity"
            android:exported="true" />
        <activity
            android:name=".CardInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PinReregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".FingerprintReregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".PayCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".CardAddCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".SettingCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".PinCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".FingerprintCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".LoginCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".PinCheckActivity"
            android:exported="true" />
        <activity
            android:name=".PinSettingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Onboarding2Activity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Onboarding1Activity"
            android:exported="true"
            android:label="@string/title_activity_onboarding1"
            android:theme="@style/Theme.Ummsungpay" />
        <activity
            android:name=".ManualActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Ummsungpay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr, ocr_korean" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>